* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin: 24px;
    cursor: default;
  }
.sardor {
    color: #ae00ff;
  }
header{
    display: flex;
    justify-content: space-between;
  }
ul {
  margin: 36px;
  display: flex;
  gap: 24px;
list-style-type: none;
}  
.photo {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    border-radius: 100%;
}
.photo img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
.info {
    text-align: center;
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: column;
    cursor: default;
} 
.subinfo {
    color: gray;
}
.web {
    text-decoration: none;
    color: #ae00ff;
}
#social {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    font-size: 48px;
}
i {
    color: #ae00ff;
    transition: transform 0.3s;
}
i:hover {
    transform: scale(1.2);
} 
li {
  text-decoration: none;
}
.header {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ae00ff;
}
.header:hover {
  text-decoration: underline;
} 
.abouttitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 250px;
}
#aboutbox {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
    padding: 10px 20px;
    border-radius: 25px;
}
html  {
    scroll-behavior: smooth;
}
.projecttitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 150px;
}
#projectbox p{
    width: 20%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2);
    border-radius: 25px;
    display: inline-flex;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 30px;
}
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}