* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin: 24px;
    cursor: default;
}

.sardor {
    color: #ae00ff;
}

header {
    display: flex;
    justify-content: space-between;
}

/* Navigation Menu */

#homebox {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav {
    margin: 36px;
    display: flex;
    gap: 64px;
    list-style-type: none;
    margin-right: 80px;
    position: relative;
    visibility: hidden;
    color: gray;
}
.nav.active{
    margin-right: 60px;
    gap: 64px;
    visibility: visible;
}
.navshow {
    position: relative;
    top: 24px;
    font-size: 36px;
    left: 1060px;
}


.photo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    border-radius: 100%;
}

.header {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    font-weight: bold;
    transition: color 200ms;
}


.header.active {
    color: #ae00ff;
    text-decoration: underline;
    line-height: 4px;
    transform: scale(1.1);
}

/* Info Section */

.photo img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.info {
    text-align: center;
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

/* Info Section Text Styles */

.subinfo {
    color: gray;
}

.web {
    text-decoration: none;
    color: #ae00ff;
}

#social {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    font-size: 48px;
}

i {
    color: #ae00ff;
    transition: transform 0.3s;
}

i:hover {
    transform: scale(1.2);
}

#smth {
    opacity: 0;
}

.abouttitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 250px;
    width: 100%;
}

/* About Section */

#aboutbox p {

    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    /* box-shadow: 0px 0px 10px #c6c6c6; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    padding: 15px 30px;
    /* border-radius: 25px; */
}

html {
    scroll-behavior: smooth;
}

/* Projects Section */

.projecttitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: -500px;
    position: absolute;
    width: 100%;
}

#projectbox {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}

#projectbox p {
    width: 20%;
    height: 400px;
    margin-top: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 30px;
}

#projectbox p:active {
    transform: scale(0.98);
    background-color: #e9e9e9;
}

#projectbox p:active {
    transform: scale(0.98);
    background-color: #f8f8f8;
}

/* Skills section */

.skills {
    gap: 20px;
    position: relative;
}

.skills__title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.html{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    padding: 10px 10px;
    margin: 10px auto ;
}
.html__parcent {
    width: 80%;
    background-color: #ff88005d;
    padding: 2px 8px;
    border-radius: 2px;
}

.css{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    padding: 10px 10px;
    margin: 10px auto ;
}
.css__parcent {
    width: 75%;
    background-color: #0000ff55;
    padding: 2px 8px;
    border-radius: 2px;
}

.js{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    padding: 10px 10px;
    margin: 10px auto ;
}
.js__parcent {
    width: 13%;
    background-color: #ffe2033e;
    padding: 2px 8px;
    border-radius: 2px;
}


.number {
    position: fixed;
    display: flex;
    gap: 20px;
    bottom: 25px;
    left: 0;

}

.anumber {
    margin-left: 24px;
    font-size: 36px;
    position: relative;
    text-decoration: none;
}

.numbertext {
    visibility: hidden;
    color: #f1f1f1;
}

.anumber:hover .numbertext {
    visibility: visible;
    color: black;
    background-color: white;
    font-size: 36px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    padding: 4px 8px;
    transition: all 300ms, visibility 300ms;
}

/* Footer Section */

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}