* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin: 24px;
    cursor: default;
  }
.sardor {
    color: #ae00ff;
  }
header{
    display: flex;
    justify-content: space-between;
}

/* Navigation Menu */

ul {
  margin: 36px;
  display: flex;
  gap: 24px;
list-style-type: none;
}  
.photo {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    border-radius: 100%;
}

/* Info Section */

.photo img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
.info {
    text-align: center;
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

/* Info Section Text Styles */

.subinfo {
    color: gray;
}
.web {
    text-decoration: none;
    color: #ae00ff;
}
#social {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    font-size: 48px;
}
i {
    color: #ae00ff;
    transition: transform 0.3s;
}
i:hover {
    transform: scale(1.2);
} 
li {
  text-decoration: none;
}
.header {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ae00ff;
}
.header:hover {
  text-decoration: underline;
} 

.abouttitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 250px;
}

/* About Section */

#aboutbox p{
    
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    /* box-shadow: 0px 0px 10px #c6c6c6; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    padding: 15px 30px;
    /* border-radius: 25px; */
}
html  {
    scroll-behavior: smooth;
}

/* Projects Section */

.projecttitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: -500px;
    position: absolute;
}
#projectbox {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}
#projectbox p{
    width: 20%;
    height: 400px;
    margin-top: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px 3px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 30px;
}
#projectbox p:active {
    transform: scale(0.98);
    background-color: #e9e9e9;
}

/* Footer Section */

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}