a:hover{
font-size: 40px;
background-color: white;
padding: 2px 5px;
box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
border-radius: 10px;
}
a {
text-decoration: none;
color: inherit;
}
h1 {
margin: 30px;
}
header {
margin: 20px; 

}
ul {
list-style-type: none;


font-size: 40px;
}
.hnumber  {
 opacity: 0;
}
.nomer:hover .hnumber {
  opacity: 1;
}
.hgmail {
 opacity: 0;
}
.gmail:hover .hgmail {
  opacity: 1;
}
.hhotmail  {
 opacity: 0;
}
.hotmail:hover .hhotmail {
  opacity: 1;
}
.hcounrty  {
 opacity: 0;
}
.country:hover .hcountry {
  opacity: 1;
}
.hadress  {
 opacity: 0;
}
.adress:hover .hadress {
  opacity: 1;
}