.aboutbox {
  background-color: blanchedalmond;
  padding: 15px 20px;
  color:black;
  margin: 200px auto;
  border-radius: 20px;
  text-align: left;
  width: 1000px;
  margin-right: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 30px;
}

